<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Christopher's Core Collective</title>
  </head>



<header class="bg-white shadow sticky top-0 z-50">
      <nav class="max-w-6xl mx-auto flex items-center justify-between p-4">
        <div class="text-2xl font-bold text-indigo-600">Core Collective</div>
        <ul class="flex space-x-6">
          <li><a href="/" class="hover:text-indigo-600">Home</a></li>
          <li><a href="/browse" class="hover:text-indigo-600">Browse</a></li>
          <li><a href="/cart" class="hover:text-indigo-600">Cart</a></li>
          <li><a href="/login" class="hover:text-indigo-600">Login</a></li>
          <li><a href="/signup" class="hover:text-indigo-600">Register</a></li>
          <li><a href="/checkout" class="hover:text-indigo-600">Checkout</a></li>
        </ul>
      </nav>
    </header>

  <main class="max-w-4xl mx-auto p-6 mb-5">
        <h1>Your Cart</h1>


        {% for x in cart%}
            <div class="cart-row">
                <img src ="{{x['Image']}}">
                <div>{{x['Name']}}</div>
                <div>
                    <form method ="post" action="/cart/{{ x['ProductID'] }}/update_qty">
                    <input class="w-full" name ="qty" type="number" value="{{ x['Quantity']}}">


                    </form>
                    
                    
                   
                </div>
                <div>F{{x['Price']}}</div>
                <div>F{{ x['Price'] * x['Quantity'] }}</div>
            
            
            
                
                
                
                
            </div>
            <div class="flex justify-center">
                <form method="post" action="/cart/{{ x['ProductID'] }}/remove">
                   <button type="submit" class="text-red-600 hover:underline">
                       Remove
                   </button>
                 </form>
            </div>

             
            
        {% endfor %}
    

            <div class="mt-6">
                 <a href="/checkout" class="bg-indigo-600 text-white px-6 py-3 rounded hover:bg-indigo-700">
                    Proceed to Checkout
                 </a>
            </div>
            
    </main>