<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>


    




  <body>
     <h1 class="text-3xl font-bold underline">
      This is the item you are currently viewing.
    
       
    </h1>

    
    {{product ['Name'] }}</body>
    <img src="{{product ['Image']}}">
    {{product ['Description']}}
    

<div>
    <form method="post" action="/product/{{ product['ID'] }}/add_to_cart">
        <label>Qty:</label>
        <input type="number" name="qty" value="1" min="1" class="border rounded px-2 py-1 w-16 text-lg">


        <button class="bg-indigo-600 text-white px-6 py-3 rounded-lg text-lg shadow hover:bg-indigo-700">
        Add to Cart
        </button>
    
    </form>
    

</div>
    

    <div class="space-y-4">
        {% for x in reviews %}
          <div class="border rounded p-4 bg-white shadow-sm">
          <p>{{x["Name"]}}</p>
            <div class="font-semibold">
              {{ x["Rating"] }}/5
            </div>
            <p class="text-gray-700">
              {{ x["Comments"] }}
            </p>
            <p>{{ x['Timestamp'].strftime('%b-%d-%Y') }}</p>
          </div>
        {% else %}
          <p class="text-gray-500">No reviews yet.</p>
        {% endfor %}
      </div>
    </div>
        
  
  
  
  
  
  
    =

  





    </body>
</html>